body {
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}
